<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AtomicSoap</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/atomic-soap.css">
  </head>
  <body>
    <script>
      window.AtomicSoapENV = {{ENV}};
      window.EmberENV = window.AtomicSoapENV.EmberENV;
    </script>
    <script src="assets/vendor.js"></script>
    <script src="assets/atomic-soap.js"></script>
    <script>
      window.AtomicSoap = require('atomic-soap/app')['default'].create(AtomicSoapENV.APP);
    </script>
  </body>
</html>
